.r-fx {
    &-gp { gap: $el-margin; }
    &, &-gp { display: flex; }
}

.c-fx {
    @extend .r-fx;
    flex-direction: column;
}

.jc {
    &-between { justify-content: space-between; }
    &-around { justify-content: space-around; }
    &-evenly { justify-content: space-evenly; }
    &-start { justify-content: flex-start; }
    &-center { justify-content: center; }
    &-end { justify-content: flex-end; }
}

.ai {
    &-start { align-items: flex-start; }
    &-center { align-items: center; }
    &-end { align-items: flex-end; }
}